@font-face {
  font-family: 'BYekan';
  src: url(../fonts/Yekan.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: 'BYekan';
  -webkit-tap-highlight-color: transparent;
}

body{
  background-color: #f2f2f9;
}

header {
  width: 100%;
  max-width: 1054px;
  margin: 0 auto;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

nav .col1{
  display: flex;
  align-items: center;
}
nav .col2{
  display: flex;
  align-items: center;
}

.icon-align-left{
  font-size: 30px;
  margin-right: 1.5rem;
  color: #b3bfdb;
  cursor: pointer;
}

.icon-search{
  cursor: pointer;
  color: #b3bfdb;
  font-size: 22px;
}

.logo{
  width: 150px;
  height: 25px;
  margin-left: 4rem;
}
.logo img{
  width: 100%;
  height: 100%;
}

header ul {
  display: flex;
}
header ul li{
    list-style: none;
  margin-left: 2rem;
}
header ul li a{
  text-decoration: none;
  font-size: 20px;
  color: #8693b1;
}

/* Header Content */
.header-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* slider */
.slider{
  position: relative;
  width: 60%;
  height: 300px;
  background-image: url(../img/slider.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

}
.icon-ellipsis-vertical{
  font-size: 3rem;
  position: absolute;
  left: 5%;
  bottom: 10%;
  background-color: transparent;
  color: #ffffff;
  cursor: pointer;
}

/* Hotel search */
.hotel-search{
  width: 350px;
  height: 300px;
  background-color: #fffefa;
  border-radius: 10px;
  padding: 1.5rem;
  color: #d0c69d;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 1rem 2rem;
}
.hotel-search div{
  width: 100% ;
  height: 30px ;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.search-city-title{
  grid-area: 1/1/2/3;
}
.search-city{
  grid-area: 1/3/2/5;
}
.search-hotel-title{
  grid-area: 2/1/3/3;
}
.search-hotel{
  grid-area: 2/3/3/5;
}
.search-date-title{
  grid-area: 3/1/4/3;
}
.search-from-date{
  grid-area: 3/3/4/5;
}
.search-to-date{
  grid-area: 4/3/5/5;
}
.search-to-date input {
  width: 50%;
}
.search-btns{
  grid-area: 5/1/6/5;
}
.hotel-search [class*="icon-"]{
  font-size: 1.2rem;
  margin-left: 1rem;
}
.hotel-search select {
  width: 100%;
  border: none; 
  border-bottom: 1px solid #edead7;
  color: #bbb083;
  outline: none;
  padding: 5px ;
  cursor: pointer;
}
.hotel-search input {
  padding: 5px 10px;
}

.hotel-search-title{
  margin-left: 20px;
  width: 50%;
  display: flex;
  align-items: center;
}

.hotel-search input[type*="text"]{
  border: none;
  outline: none;
  border-bottom: 1px solid #edead7;
  color: #bbb083;
  cursor: pointer;
  width: 100%;
}

.input{
  width: 100%;
}

.hotel-search input[type*="text"]::placeholder{
  color: #bbb083;
}

.btns{
 width: 100%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.search-btns button{
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px 30px;
  margin: 0 auto;
  cursor: pointer;
  color: #ffffff;
}
.search-btns button:hover{
  opacity: 75%;
}

.hotel-list-btn{
  background-color: #9ccc65;
}
.hotel-search-btn{
  background-color: #f16161;
}


/* Responsive */


/* Tablet */
@media only screen and (max-width: 968px){
  nav ul {
    display: none;
  }

  .header-content{
    display: block;
    margin: 20px ;
  }
  .slider{
    width: 100%;
  }
  /* hotel search */
  .hotel-search{
    width: 100%;
    margin-top: 20px;
  }

  .search-city-title{
  grid-area: 1/1/2/2;
}
.search-city{
  grid-area: 1/2/2/5;
}
.search-hotel-title{
  grid-area: 2/1/3/2;
}
.search-hotel{
  grid-area: 2/2/3/5;
}
.search-date-title{
  grid-area: 3/1/4/2;
}
.search-from-date{
  grid-area: 3/2/4/3;
}
.search-to-date{
  grid-area: 3/3/4/4;
}
.search-btns{
  grid-area: 4/1/5/3;
}

}


/* Mobile */
@media only screen and (max-width:  650px){
.hotel-search [class*="icon-"] {
    font-size: 1.2rem;
    margin-left: 0.4rem;
}
.search-btns button  {
  padding: 10px 20px;
}
.search-city-title{
  grid-area: 1/1/2/3;
}
.search-city{
  grid-area: 1/3/2/5;
}
.search-hotel-title{
  grid-area: 2/1/3/3;
}
.search-hotel{
  grid-area: 2/3/3/5;
}
.search-date-title{
  grid-area: 3/1/4/3;
}
.search-from-date{
  grid-area: 4/1/5/3;
}
.search-to-date{
  grid-area: 4/3/5/5;
}
/* .search-date-title{
  grid-area: 3/1/4/3;
}
.search-from-date{
  grid-area: 3/3/4/5;
}
.search-to-date{
  grid-area: 4/3/5/5;
} */
.search-btns{
  grid-area: 5/1/6/5;
  margin-top: 20px;
}
}


